@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
}
.poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}
.poppins-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
}
.poppins-400{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}